.Header {
  padding: 10px 20px 15px;
  background: #73ccec;
  margin-top: 10px;
}

.Header h1 {
  padding-bottom: 5px;
  text-decoration: underline;
  font-size: 40px;
  opacity: 75%;
}

@media (max-width: 850px) {
  .Header h1 {
    font-size: 35px;
    margin-top: 15px;
  }
}

@media (max-width: 650px) {
  .Header h1 {
    font-size: 30px;
  }
}

@media (max-width: 515px) {
  .Header h1 {
    font-size: 25px;
  }
}
