.Temperature {
  margin: 25px auto;
}

.Temperature .current {
  padding: 10px 0 0;
  min-width: fit-content;
  font-size: 30px;
}
.Temperature .maxMin {
  font-size: 15px;
  font-style: italic;
  line-height: 0.5cm;
}
