.Temperature {
  margin: 25px auto;
  text-align: right;
}

.Temperature .current {
  padding: 20px 0 5px;
  min-width: fit-content;
  font-size: 30px;
  font-weight: 600;
}

.Temperature .feelTemp {
  font-size: 20px;
  font-style: italic;
  line-height: 0.55cm;
}

.Temperature .feelTemp div {
  font-size: 15px;
}
