.Forecast {
  line-height: 0.5cm;
  min-width: fit-content;
}

.Forecast .date {
  font-weight: bold;
}

.Forecast .icon {
  margin: 5px auto;
  color: whitesmoke;
}

.Forecast .forecast-description {
  text-transform: capitalize;
}

.Forecast .temperatures {
  font-style: italic;
  font-size: 15px;
  margin-top: 5px;
  line-height: 1.5;
}

.Forecast .temperatures .fahrenheit {
  opacity: 50%;
}
