.Credits {
  font-size: 10px;
  text-align: right;
  color: #fff;
  margin-top: 20px;
}

.Credits a {
  text-decoration-line: none;
  color: #fce850;
}

.Credits a:hover {
  color: #ffb900;
}

@media (max-width: 850px) {
  .Credits {
    text-align: center;
  }
}
